<default-page>
    <main>
        <section class="presentacio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Después de unos años trabajando sin ánimo de lucro, nos dimos cuenta que habíamos avanzado sensiblemente en nuestro camino. Pero, principalmente, nos dimos cuenta que aún podíamos avanzar mucho más, que aún no era suficiente, que eran muchas las cosas que faltaban por hacer, y que son muchos los recursos necesarios para hacer nuestro trabajo.
                        </p>
                        <p>
                            Poco a poco, con constancia y mucha paciencia, como se hace en Rwanda, en 2009 quisimos dar un paso más y crear <strong> Camins Ong </strong>, una asociación de coste cero, porque sabemos que está en nuestras manos ayudar a cambiar aquello que no nos gusta o que nos gustaría que fuera diferente. La razón de ser de <strong>Camins Ong</strong> es clara y transparente: intentar ayudar a todas aquellas personas que se encuentran olvidadas y atrapadas en su propia miseria, con tal que puedan recuperar su dignidad y encontrar su camino.
                        </p>
                        <p>
                            En nombre de todos los que formamos esta asociación queremos daros las <strong>GRACIAS</strong> por vuestra confianza; por creer, como creemos nosotros, que poco a poco podemos cambiar el mundo. Son muchas las ilusiones que son necesarias y muchos los sueños que esperamos que algún día se hagan realidad.
                        </p>
                        <strong>Camins ONG</strong>
                    </div>
                </div>
            </div>
        </section>
    </main>
</default-page>
