<default-page>
    <main>
        <section class="presentacio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Després d'uns anys treballant sense ànim de lucre, vam adonar-nos que havíem avançat força en el nostre camí. Però, sobretot, vam adonar-nos que encara podíem avançar molt més, que encara no n’hi havia prou, que eren moltes les coses que faltaven i falten per fer, i que són molts els recursos necessaris per fer la nostra tasca.
                        </p>
                        <p>
                            A poc a poc, amb constància i molta paciència, com es fa a Rwanda, al 2009 vam voler fer un pas més i crear <strong>Camins Ong</strong>, una associació de cost zero, perquè sabem que està a les nostres mans ajudar a canviar allò que no ens agrada o que ens agradaria que fos d'una altra manera. La raó de ser de <strong>Camins Ong</strong> és clara i transparent: intentar ajudar a totes aquelles persones que es troben oblidades i atrapades en la seva pròpia misèria, per tal que puguin recuperar la seva dignitat i trobar el seu camí.
                        </p>
                        <p>
                            En nom de tots els que formem aquesta associació volem donar-vos les <strong>GRÀCIES</strong> amb majúscules per la vostra confiança; per creure, com creiem nosaltres, que a poc a poc podem canviar el món. Són moltes les il·lusions que cal complir i molts els somnis que esperem que algun dia es facin realitat.
                        </p>
                        <strong>Camins ONG</strong>
                    </div>
                </div>
            </div>
        </section>
    </main>
</default-page>
