// Dark neutral
$gray-shark: #1d1f23;
$gray-tuna: #35353a;
$gray-trout: #4d515b;
$gray-slate: #5d626d;
$gray-regent: #8d96a3;

$dark-1: #13151C;
$dark-2: #21242E;
$dark-3: #323745;
$dark-4: #434858;
$dark-5: #4D5466;
$dark-6: #858EA6;

// Light neutral
$gray-ghost: #c4ccd7;
$gray-mystic: #dce3eb;
$white-lilac: #e6ebf5;
$white-catskill: #f4f7fa;
$white-alabaster: #fcfcfc;

$light-1: #FCFCFC;
$light-2: #F5F6FA;
$light-3: #E6EAF5;
$light-4: #DDE0EB;
$light-5: #C3C9D9;
$light-6: #A3A9BF;

// Brand
$brand-red: #9b0e25;
$brand-grey: #333333;

// Colours
$blue-base: #0799dc;
$green-base: #3eb980;
$red-base: #d54f4f;
$orange-base: #ea913a;
$cyan-base: #33c8c9;
$yellow-base: #edb83b;
$white-base: #fff;

// Misc
$search-highlight:  #fff5c5;
$selected-row:      #e0f1ff;
