<default-page>
    <main>
        <section class="colaboradors">
           <div class="row">
             <div class="col-md-12 colaboradors">
               <h1>COLABORADORES</h1>
               <div class="col-md-12">
                  <img class="imagecolab" src="images/colaboradors/colaboradors.jpg" alt="colaboradors" longdesc="gràcies" />
                  <img class="graciescolab" src="images/colaboradors/gracies.png" alt="gràcies" />
               </div>
             </div>
           </div>
        </section>
    </main>
</default-page>
