.finances {
    .cost_zero {
        margin-bottom: 30px;
    }
    .numeros {
        margin-bottom: 15px;
    }
}

.borderless tbody tr td, .borderless thead th {
    border: none;
}

.table th, .table td {
    padding: 0;
}
