<default-page>
    <main>
        <section class="finances">
			<div class="row">
				<div class="col-xxs-11 cost_zero">
                    <h1>COSTE CERO</h1>
                    <p>Camins ONG es una asociación con una estructura de coste cero.</p>
                    <p>¿Qué queremos decir con esto? Pues que todo lo que nuestra asociación obtiene para llevar a cabo los proyectos, se destina exclusivamente a los mismos.</p>

                    <p>
                        Por lo tanto, si necesitamos un tampón con el logotipo y el NIF, buscamos una empresa especializada que nos lo haga de forma gratuita, o que alguien nos pague el coste de este tampón. Si necesitamos material de oficina, también buscamos una empresa o alguien que nos lo subvencione. Nuestras reuniones se realizan en espacios cedidos por entidades públicas o privadas, y no suponen ningún coste. Asimismo, negociamos con las entidades financieras las mejores condiciones posibles para pagar las mínimas comisiones en, por ejemplo, las remesas de los amigos de Camins ONG. En este caso, las comisiones que acabamos pagando son 100% asumidas por los socios colaboradores, que las pagamos de nuestro propio bolsillo.
                    </p>
                    <p>
                        Tampoco hay ninguna persona que obtenga ningún tipo de contraprestación por su trabajo dentro de la asociación, ni en el caso de los viajes que realizamos a Rwanda o Cameroun. Las personas que viajan asumen personalmente todos los gastos del viaje. De este modo conseguimos que todo el dinero recogido sea exclusivamente destinado a los proyectos de la asociación.
                    </p>
                    <p>
                        Por este motivo habréis podido comprobar que os podéis comunicar con la asociación a través del email, y así ahorrar costes telefónicos o de correo ordinario.
                    </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xxs-11">
                  <h1>PRINCIPALES PARTIDAS ECONÓMICAS</h1>
                  <p>
                    Ya llevamos más de cinco años de proyectos desde 2009. Unos son continuados, y cada año les destinamos un importe. Otros son puntuales, y van cambiando de un año a otro. Pero durante estos años, gracias a las diferentes vías de obtención de recursos, hemos participado en muchos proyectos tanto en Ruanda y Camerún, proyectos que sin los recursos necesarios, no se habrían podido llevar a cabo.
                  </p>
                  <p>
                    Por ello queremos exponer, de forma resumida, cuáles son las principales partidas destinadas a proyectos, y cómo se han generado estos recursos, de forma acumulada desde 2009 y hasta primeros de diciembre de 2016 (fecha más reciente sobre la que tenemos los datos agregados):
                  </p>
                  <div class="row numeros">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th><strong>Proyectos</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Comedor escolar y social Ruli</td>
                                    <td>79.850 euros (2009-2017)</td>
                                </tr>
                                <tr>
                                    <td>Compra de material (I)</td>
                                    <td>18.153 euros (2009-2016)</td>
                                </tr>
                                <tr>
                                    <td>Granja-vivienda</td>
                                    <td>15.520 euros (2011-2012)</td>
                                </tr>
                                <tr>
                                    <td>Profesores Kagugu</td>
                                    <td>11.198 euros (2011-2016)</td>
                                </tr>
                                <tr>
                                    <td>Proyecto Costa de Marfil</td>
                                    <td>6.000 euros (2015)</td>
                                </tr>
                                <tr>
                                    <td>Material médico Camerún</td>
                                    <td>4.558 euros (2009 i 2011)</td>
                                </tr>
                                <tr>
                                    <td>Centro chicas Bembéréké (Benín)</td>
                                    <td>4.000 euros (2015)</td>
                                </tr>
                                <tr>
                                    <td>Estudios universitarios Rwanda</td>
                                    <td>2.338 (2015-2016)</td>
                                </tr>
                                <tr>
                                    <td>Casas Padre Cabayol</td>
                                    <td>1.640 euros (2009 i 2011)</td>
                                </tr>
                                <tr>
                                    <td>Otros proyectos</td>
                                    <td>6.580 euros</td>
                                </tr>
                                <tr>
                                    <td><strong>Total proyectos 2009-2017</strong></td>
                                    <td><strong>149.837 euros</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th><b>Recursos</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amigos Camins (socios)</td>
                                    <td>58.436 euros (2010-2016)</td>
                                </tr>
                                <tr>
                                    <td>Venta de material</td>
                                    <td>31.277 euros (2009-2016)</td>
                                </tr>
                                <tr>
                                    <td>Donativos puntuales</td>
                                    <td>28.563 euros (2009-2016)</td>
                                </tr>
                                <tr>
                                    <td>Sopar espectáculo Can Fabes</td>
                                    <td>13.178 euros (2011)</td>
                                </tr>
                                <tr>
                                    <td>Lotería (II)</td>
                                    <td>10.258 euros (2010-2016)</td>
                                </tr>
                                <tr>
                                    <td>Huchas viajeras</td>
                                    <td>5.432 (2013-2015)</td>
                                </tr>
                                <tr>
                                    <td>Gala Soho The Club</td>
                                    <td>2.924 (2014)</td>
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td>3.484 euros</td>
                                </tr>
                                <tr>
                                    <td><strong>Total recursos 2009-2016</strong></td>
                                    <td><strong>153.552 euros</strong></td>
                                </tr>
                             </tbody>
                        </table>
                    </div>
                  </div>
                  <!--<div class="col-sm-12">-->
                      <p>
                        A primeros de diciembre de 2016 disponemos de unos fondos de unos 3 mil euros que, junto con los nuevos recursos que se obtengan, deben servir para seguir llevando a cabo proyectos de futuro. Por otro lado, ya hemos pagado el primer semestre de 2017 del comedor escolar social.
                      </p>
                      <i>
                          (I) Corresponde, básicamente, a la compra de material elaborado en el taller de confección de Kagugu y al taller de manualidades de Ruli. Se considera un proyecto, dado que con la compra de este material se da trabajo a un
                          importante número de mujeres en riesgo de exclusión.
                      </i>
                      <br>
                      <i>
                          (II) Incluye el premio de 4 euros por euro apostado obtenido en el sorteo de El Gordo de 2012, de aquellas personas que decidieron no cobrar el importe del premio, y cederlo a Camins ONG.
                      </i>
                  <!--</div>-->
              </div>
            </div>
        </section>
    </main>
</default-page>
