<default-page>
    <main>
        <section class="finances">
			<div class="row">
				<div class="col-xxs-11 cost_zero">
                    <h1>COST ZERO</h1>
                    <p>Camins ONG és una associació que la seva estructura té un cost zero.</p>
                    <p>Què volem dir amb això? Doncs que tot allò que la nostra associació obté per tirar endavant els projectes, es destina exclusivament a aquests.</p>

                    <p>
                        Per tant, si necessitem un tampó amb el logotip i el NIF, busquem una empresa especialitzada que ens el faci gratuïtament, o que algú ens pagui el cost d’aquest tampó. Si necessitem material d’oficina, també busquem una empresa o algú que ens el subvencioni. Les nostres reunions es realitzen en espais cedits per entitats públiques o privades, i no suposen cap cost. Així mateix, negociem amb les entitats financeres les millors condicions possibles per pagar les mínimes comisions en, per exemple, les remeses dels amics de Camins ONG. En aquest cas, les comissions que acabem pagant són 100% assumides pels socis col·laboradors, que les paguem de la nostra butxaca.
                    </p>
                    <p>
                        Tampoc hi ha cap persona que obtingui cap tipus de contraprestació pel seu treball dintre de
                        l'associació, ni en el cas dels viatges que realitzem a Rwanda o Cameroun. Les persones que viatgen
                        assumeixen personalment totes les despeses del viatge. D’aquesta manera aconseguim que tots els
                        diners recollits siguin exclusivament destinats als projectes de l’associació.
                    </p>
                    <p>
                        Per aquesta raó haureu comprovat que us podreu comunicar amb l’associació a través de l’e-mail per tal
                        d’estalviar costos telefònics o de correu ordinari.
                    </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xxs-11">
                  <h1>PRINCIPALS PARTIDES ECONÒMIQUES</h1>
                  <p>
                    Avui ja portem més de cinc anys de projectes des del 2009. Uns són continus, i cada any hi destinem un import. Altres són puntuals, i van canviant d'un any a l'altre. Però durant aquestsanys, gràcies a les diferents vies d'obtenció de recursos, hem participat en molts projectes a Rwanda i Cameroun, projectes que sense els recursos necessaris, no s'haguessin pogut portar a terme.
                  </p>
                  <p>
                    Per això volem exposar, de forma resumida, quins són les principals partides destinades a projectes, i com s'han generat aquests recursos, de forma acumulada desde 2009 i fins a principis de desembre de 2016 (data més recent sobre la que tenim les dades agregades):
                  </p>
                  <div class="row numeros">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <table style="margin-top: 20px;">
                            <tr>
                                <td><strong>Projectes</strong></td>
                            </tr>
                            <tr>
                                <td>Menjador escolar i social Ruli</td>
                                <td>79.850 euros (2009-2017)</td>
                            </tr>
                            <tr>
                                    <td>Compra de material (I)</td>
                                    <td>18.153 euros (2009-2016)</td>
                            </tr>
                            <tr>
                                <td>Granja-vivenda</td>
                                <td>15.520 euros (2011-2012)</td>
                            </tr>
                            <tr>
                                <td>Professors Kagugu</td>
                                <td>11.198 euros (2011-2016)</td>
                            </tr>
                            <tr>
                                <td>Projecte Costa d'Ivori</td>
                                <td>6.000 euros (2015)</td>
                            </tr>
                            <tr>
                                <td>Material mèdic Cameroun</td>
                                <td>4.558 euros (2009 i 2011)</td>
                            </tr>
                            <tr>
                                <td>Casal noies Bembéréké</td>
                                <td>4.000 euros (2015)</td>
                            </tr>
                            <tr>
                                <td>Estudis universitaris Rwanda</td>
                                <td>2.338 (2015-2016)</td>
                            </tr>
                            <tr>
                                <td>Cases Mossèn Cabayol</td>
                                <td>1.640 euros (2009 i 2011)</td>
                            </tr>
                            <tr>
                                <td>Altres projectes</td>
                                <td>6.580 euros</td>
                            </tr>
                            <tr>
                                <td><strong>Total projectes 2009-2017</strong></td>
                                <td><strong>149.837 euros</strong></td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <table style="margin-top: 20px;">
                            <tr>
                                <td><strong>Recursos</strong></td>
                            </tr>
                            <tr>
                                <td>Amics Camins (socis)</td>
                                <td>58.436 euros (2010-2016)</td>
                            </tr>
                            <tr>
                                <td>Venda de material</td>
                                <td>31.277 euros (2009-2016)</td>
                            </tr>
                            <tr>
                                <td>Donatius puntuals</td>
                                <td>28.563 euros (2009-2016)</td>
                            </tr>
                            <br>
                            <tr>
                                <td>Sopar espectacle Can Fabes</td>
                                <td>13.178 euros (2011)</td>
                            </tr>
                            <tr>
                                <td>Loteria (II)</td>
                                <td>10.258 euros (2010-2016)</td>
                            </tr>
                            <tr>
                                <td>Guardioles viatgeres</td>
                                <td>5.432 (2013-2015)</td>
                            </tr>
                            <tr>
                                <td>Gala Soho The Club</td>
                                <td>2.924 (2014)</td>
                            </tr>
                            <tr>
                                <td>Altres</td>
                                <td>3.484 euros</td>
                            </tr>
                            <tr>
                                <td><strong>Total recursos 2009-2016</strong></td>
                                <td><strong>153.552 euros</strong></td>
                            </tr>
                        </table>
                    </div>
                  </div>
                  <!--<div class="col-sm-12">-->
                      <p>
                        A principis de desembre de 2016 disposem d'uns fons d'uns 3 mil euros que, juntament amb els nous recursos que aconseguim, han de servir per seguir portant a terme projectes pel futur. D’altra banda, ja hem avançat el pagament del primer semestre de 2017 del menjador escolar i social.
                      </p>
                      <i>
                          (I) Correspon, bàsicament, a la compra de material elaborat al taller de confecció de Kagugu i al taller de manualitats de Ruli. Es considera un projecte, donat que amb aquesta compra de material es dóna feina a un nombre important de dones en risc d'exclosió.
                      </i>
                      <br>
                      <i>
                          (II) Inclou el premi de 4 euros per euro apostat obtingut en el sorteig de La Grossa de 2012, d'aquelles persones que
                          van decidir no cobrar l'import del premi, i cedir-ho a Camins ONG.
                      </i>
                  <!--</div>-->
              </div>
            </div>
        </section>
    </main>
</default-page>
