<default-page>
    <main>
        <section id="presentacio">
            <div class="row-fluid">
              <div class="span12" id="colaboradors">
                <h1>AGRADECIMIENTOS</h1>
                <div id="contentA">
                <table width="634" border="0" cellpadding="0" cellspacing="7">
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/ajunt_espinelves.gif" alt="img" width="121" height="63" longdesc="Ajuntament d'Espinelves" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/ajunt_dosrius.gif" alt="img" width="121" height="63" longdesc="Ajuntament de Dosrius" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/ajunt_santEsteve.gif" alt="img" width="121" height="63" longdesc="Ajuntament de Sant Esteve de Palautordera" /></td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/seminariVIC.gif" alt="img" width="121" height="63" longdesc="SEMINARI DE VIC" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/arco.gif" alt="img" width="121" height="63" longdesc="arco" />
                    </td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/BARteatreneu.gif" alt="img" width="121" height="63" longdesc="bar" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/BBA.gif" alt="img" width="121" height="63" longdesc="BBC" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/clinicaBasi.gif" alt="img" width="121" height="63" longdesc="clinica Basi" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/dentaid.gif" alt="img" width="121" height="63" longdesc="dentaid" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF"><img src="images/agraiments/dentalCOOP.gif" alt="img" width="121" height="63" longdesc="dental Coop" /></td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/esteve.gif" alt="img" width="121" height="63" longdesc="LAB Esteve" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/fardi.gif" alt="img" width="121" height="63" longdesc="FARDI" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/fontAgudes.gif" alt="img" width="121" height="63" longdesc="Font Agudes" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/FUNDrecover.gif" alt="img" width="121" height="63" longdesc="Fundación Recover" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/KinaKanya.gif" alt="img" width="121" height="63" longdesc="Kina kanya" />
                    </td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/martiTor.gif" alt="img" width="121" height="63" longdesc="Farmàcia Martí Tor" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/milan.gif" alt="img" width="121" height="63" longdesc="Milan" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/normon.gif" alt="img" width="121" height="63" longdesc="LAB Normon" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/casalinfants.jpg" alt="img" width="121" height="63" longdesc="orscomunicacio.com" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/palau_solidari.gif" alt="img" width="121" height="63" longdesc="palau solidari" />
                    </td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/pobla_santCeloni.gif" alt="img" width="121" height="63" longdesc="Població Sant Celoni" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/pobla_vallgorguina.gif" alt="img" width="121" height="63" longdesc="Població Vallgorguina" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/proClinic.gif" alt="img" width="121" height="63" longdesc="proClinic" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/roncato.gif" alt="img" width="121" height="63" longdesc="Roncato" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/consorci_hospVIC.gif" alt="img" width="121" height="63" longdesc="Consorci Hospitalari de Vic" />
                    </td>
                  </tr>

                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/BITOnline.jpg" alt="img" width="121" height="63" longdesc="BIT Online" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/carraleo.gif" alt="img" width="121" height="63" longdesc="Carralero Clínica Dental" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/canfabes.jpg" alt="img" width="121" height="63" longdesc="Can Fabes" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/cellerstriada.jpg" alt="img" width="121" height="63" longdesc="Cellers Triada" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/circcric.jpg" alt="img" width="121" height="63" longdesc="Circ Cric" />
                    </td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/pereserra.jpg" alt="img" width="121" height="63" longdesc="Supermercats Pere Serra" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu.gif" alt="img" width="121" height="63" longdesc="Tu!" />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5">
                      <p>
                        <img src="images/agraiments/faltes_tu.png" alt="Faltes tu!" width="634" height="134" longdesc="Faltes tu!" />
                      </p>
                  </td>
                  </tr>
                  <tr>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                    <td width="121" height="63" bgcolor="#FFFFFF">
                      <img src="images/agraiments/tu2.gif" alt="img" width="121" height="63" longdesc="..." />
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>
        </section>
    </main>
</default-page>
